/* parent containers */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-rev {
  display: flex;
  flex-direction: row-reverse;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-rev {
 display: flex;
 flex-direction: column-reverse;
}

/* flex-wrap */
.flex-wrap {flex-wrap: wrap;}
.flex-no-wrap {flex-wrap: no-wrap;}
.flex-wrap-rev {flex-wrap: wrap-reverse;}

/* justify content */
.flex-justify-start  {justify-content: flex-start;}
.flex-justify-end    {justify-content: flex-end;}
.flex-justify-center {justify-content: center;}
.flex-justify-between {justify-content: space-between;}
.flex-justify-around  {justify-content: space-around;}

/* align items */
.flex-align-items-start    {align-items: flex-start;}
.flex-align-items-end      {align-items: flex-end;}
.flex-align-items-center   {align-items: center;}
.flex-align-items-baseline {align-items: baseline;}
.flex-align-items-stretch  {align-items: stretch;}

/* align content */
.flex-align-content-start  {align-content: flex-start;} 
.flex-align-content-end    {align-content: flex-end;}
.flex-align-content-center {align-content: center;}
.flex-align-content-around  {align-content: space-around;}
.flex-align-content-between {align-content: space-between;}


